.bar{
    height: 10%;
}
.rdv{
  margin-top:20px;
}
@media screen and (max-width:1024px){
  .col-md-8{
    width:100%;
    justify-content: center;
  }
  .col-md-6{
    width:100%;
    height:auto;
  }
  .shootingPicture{
    visibility: hidden;
  }

}
